# The following files are suppressed
*.pdf
*.xml_xslt
*.sh
*.bak
*0400.xml
testing*
private*
*[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]*
.DS_Store
*- Copy*
output/*.*
desktop.ini

# Directories
functions/tests/
guidelines/xhtml/
schemas/out/
output/temp/
applications-old/
functions-old/
schemas-old/
parameters-old/